asterisk_log_project/static/admin/
asterisk_log_project/static/js/
asterisk_log_project/static/bower/
asterisk_log_project/asterisk_log_project/secret.py
asterisk_log_project/asterisk_log_project/local_settings.py

*.py[cod]
# OS X meta data
._*
.DS_Store

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
