<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link href="/static/bower/jquery-ui/themes/smoothness/jquery-ui.min.css" rel="stylesheet" />
    <link href="/static/bower/jquery-ui-bootstrap/jquery.ui.theme.css" rel="stylesheet" />

    <link href="/static/bower/bootstrap/dist/css/bootstrap.css" rel="stylesheet" media="screen">

    <link href="/static/bower/messenger/build/css/messenger.css" rel="stylesheet" />
    <link href="/static/bower/messenger/build/css/messenger-theme-future.css" rel="stylesheet" />

    <link href="/static/css/style.css" rel="stylesheet" />

    <script src="/static/bower/jquery/dist/jquery.min.js"></script>
    <script src="/static/bower/jquery-ui/jquery-ui.min.js"></script>
    <script src="/static/bower/jquery-ui/ui/i18n/datepicker-ru.js"></script>

    <script src="/static/bower/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="/static/bower/messenger/build/js/messenger.min.js"></script>
    <script src="/static/bower/messenger/build/js/messenger-theme-future.js"></script>
    {% block head %}{% endblock %}

    <meta charset="utf-8">
    <title>{% block title %}Asterisk Log{% endblock %}</title>
</head>
<body>
    <div class="login_panel">
        <a href="/logout/">Выход</a><br>
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>