{% extends "base.html" %}

{% load sec_to_dur %}

{% block content %}
<script>
  $(function(){
	  $("#id_date_start,#id_date_end,#id_date").datepicker();
  });
</script>
{% for field in form %}
	{% if field.errors %}<li><span>&times;</span>{{ field.label }}: {{ field.errors|removetags:"ul li" }}</li>{% endif %}
{% endfor %}
{% for error in form.non_field_errors %}
	<li><span>&times;</span>{{ error }}</li>
{% endfor %}


<form enctype="multipart/form-data" action="" method="POST" class="form-inline" role="form">
  {% csrf_token %}
	<div class="form-group">
		Телефон:
		{% if user.is_superuser %}{{ form.phone}} {% endif %}
		<label for="id_source">Откуда</label> {{ form.source}}
		<label for="id_destination">Куда</label> {{ form.destination}}
	</div><br><br>
	<div class="form-group">
		Дата:
		{{ form.date }}
		<label for="id_date_start">от</label> {{ form.date_start }}
		<label for="id_date_end">по</label> {{ form.date_end }}
	</div><br><br>
	<div class="form-group">
		Длительность:
		<label for="id_duration_from">от</label> {{ form.duration_from }}
		<label for="id_duration_to">по</label> {{ form.duration_to }}<br>
	</div>
	<input type="submit" value="Фильтровать" class="btn btn-primary">
</form>
<br>

{% if calls %}
	<table class="table table-striped">
	<tr>
		<th>Дата</th>
		<th>Откуда</th>
		<th>Куда</th>
		<th>Длительность</th>
	</tr>
	{% for call in calls %}
		<tr>
			<td>{{ call.calldate }}</td>
			<td>{{ call.src }}</td>
			<td>{{ call.dst }}</td>
			<td>{{ call.duration|sectodur }}</td>
		</tr>
	{% endfor %}
	</table>
{% endif %}

{% endblock %}